<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Список товаров</h2>
    <ul>
        {% for product in products %}
            <li>
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p>Цена: {{ product.price }}</p>
                <form method="post" action="{% url 'cart_add' product.id %}">
                    {% csrf_token %}
                    <button type="submit">Добавить в корзину</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'cart_detail' %}">Перейти к корзине</a>
</body>
</html>